html, * {
  box-sizing: border-box;
}

body {
  font: caption;
}

button, .button, input[type="submit"] {
  background-color: #f32e5b;
  border: 1px solid #e10d3d;
  color: white;
  padding: 0.5em;
  transition: all 0.2s;
  border-radius: 8px;
}

button:hover, .button:hover, input[type="submit"]:hover {
  background-color: green;
  border: 1px solid #e10d3d;
}

select {
  cursor:pointer;
  display:inline-block;
  color:#e10d3d;
  border:1px solid #e10d3d;
}

.App {
  text-align: left;
  margin: auto;
  max-width: 400px;
}

.Item {
  border: 2px solid #f32e5b;
  border-radius: 8px;
  margin: 25px 0px 25px 0px;
}

.Details {
  margin: 25px 25px 25px 25px;
}
